/****************************************:

header

*****************************************:*/

@use "../../global" as g;
h1 {
  color: yellow;
  font-weight: bold;

  @include g.mq(xl) {
    color: g.$accentColor;
  }
}
